<div collapse="!noteOn">
  <div class="col-xs-1 a-pl-0">1.</div>
  <div class="col-xs-5 a-pl-0 f-ta-r">
    souhaiter de<br>
    souhaiter que 
  </div>
  <div class="f-grammar">
    + l'inf.<br>
    + p-subj.
  </div><br>
  <div class="col-xs-1 a-pl-0">2.</div>
  <div class="col-xs-5 a-pl-0 f-ta-r">
    espérer<br>
    espérer que
  </div>
  <div class="f-grammar">
    + l'in.f<br>
    + p-ind.
  </div><br>
  <div class="col-xs-1 a-pl-0">3.</div>
  <div class="a-plr-15 f-ta-c">
    tendre la main / l'oreille / les bras
  </div><br>
  <div class="col-xs-1 a-pl-0">4.</div>
  <div class="col-xs-5 f-ta-r">
    mener<br>
    amener<br>
    emmener 
  </div>
  <div class="f-lang-en">
    = lead<br>
    = bring<br>
    = take
  </div><br>
  <div class="col-xs-1 a-pl-0">5.</div>
  <div class="col-xs-5 f-ta-r"> 
    ombre<br>
    sombre 
  </div>
  <div>
    <span class="f-grammar">= n.f: </span><span class="f-lang-en">shadow</span><br>
    <span class="f-grammar">= adj: </span><span class="f-lang-en">dark, sombre</span>
  </div><br>
  <div class="col-xs-1 a-pl-0">6.</div>
  <div class="col-xs-5 f-ta-r"> 
    offrir<br>
    souffrir<br>
    suffire 
  </div>
  <div class="f-lang-en">
    = offer<br>
    = suffer<br>
    = suffice, be enough
  </div><br>
</div>

